*.swp
sw/build*
imperio
ips/F03x
ips/Morph
ips/OoO
ips/S1
ips/T02x
ips/T03x
ips/T13x
ips/fT13x
ips/KPrim
ips/KFPU
ips/KVCU
ips/klessydra_netlists/netlists
sw/apps/klessydra_tests*
sw/libs/klessydra_lib*
KView
sw/build/cmake_configure.klessydra-m.gcc.sh
sw/ref/link.common.ld
sw/ref/link.boot.ld